*{
    margin:0;
    padding:0;
}
.main{
    background:url("design.jpg"),rgba(0,0,0,0.75);
    background-size:cover;
    background-blend-mode:darken;
    width:100%;
    overflow: hidden;
    height: 100vh;
}
.navbar{
    width:100vw;
    height:75px;
}
.logo{
    width:170px;
    height:70px;
    float:left;
   margin:7px;
}
img{
   
    padding-left:10px;
    padding-top:3px;
    float:left;
    height:60px;
    width:78px;
}
.menu{
    width:72vw;
    height:70px;
    float:right;
    margin:7px;
}
ul li{
    list-style-type:none;
display:flex;
float:right;

}
ul li a{
    padding:16px;
    
    color:white;
    font-family:arial;
    font-size:15px;
    transition: 0.7 ease-in-out;
}
ul li a:hover{
    text-decoration:none;
    color:#ffc93c;
}
.content{
    width:100vw;
    height: 530px;
}
.login{
    width:380px;
    height: 350px;
    margin:auto;
    background:rgba(0,0,0,0.6
     );
    position: relative;
    top:100px;
    border-radius: 25px;
}
h2{
    font-family:arial;
    text-align:center;
    position:relative;
    top:10px;
    color:#ffc93c;
}
.user{
    position:absolute;
    top:90px;
    left:78px;
}
.password{
    position:absolute;
    top:150px;
    left:78px;
    margin-top:10px;
}
label{
color:#ffc93c;
font-family: arial;
}
label,input{
    display: block;  
    margin:5px; 

}
input{
    border:none;
    background: transparent;
    border-bottom:1px solid #ffc93c;
    width: 220px;
    height: 18px;
    font-size: 13px;
    padding:3px;
    color:white;
    outline:none;
}
.button-container{
    position:absolute;
    top:240px;
    left:78px;
    width:100px;
    height: 200px;
    transform: translateX(80px);

}
button
{
    height: 25px;
    width:80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ffc93c;
    border:1px solid #ffc93c;
    border-radius: 5PX;
    transition: 0.5s ease-in-out;
}
button:hover{
    color:white;

}
.signup{
    
    position: relative;
    top:260px;
    transform: translateX(98px);
    color:#ffc93c;
}
p,a{
    display:inline-block;
}
a{
    color:white;
    text-decoration: none;
    transition: 0.7s ease-in-out;
}
a:hover{
    text-decoration: underline;
}
