*{
    margin:0;
    padding:0;
}
.main{
    /*background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url("design.jpg");
     or */
     background:url("design.jpg"),rgba(0,0,0,0.75);
     background-blend-mode: darken;
    width:100%;
    
    background-size:cover;
    height:100vh;
}
.navbar{
    width:100vw;
    height:75px;
    position: sticky;
    top:1px;
}
.logo{
    width:170px;
    height:70px;
    float:left;
   margin:7px;
}
img{
   
    padding-left:10px;
    padding-top:3px;
    float:left;
    height:60px;
    width:78px;
}
.menu{
    width:72vw;
    height:75px;
    float:right;
    margin:7px;
}
ul li{
    list-style-type: none;
    display:flex;
 float:right;
    
}
ul li a{
    text-decoration: none;
    color:white;
    padding:16px;
    font-family: Arial;
    font-size:15px;
    transition:0.4s ease-in-out;
}
ul li a:hover{
    color:#ffc93c;
}

.search{
    margin-left:7px;
    margin-top:1px;
}
.srch{
    font-family:'Times New Roman', Times, serif;
    width:300px;
    height:35px;
    border:2px solid #ffc93c;
    border-right:none;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    font-size:16px;
    padding:10px;
    background:transparent;
    margin-top:10px;
    color:#fff;
    float:left;
}
.btn{
    height:35px;
    width:100px;
    font-size:16px;
    margin-top:10px;
    border:2px solid #ffc93c;
    background:#ffc93c;
    color:white;
    float:left;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
   padding: 5px;
}

.content{
    margin:60px;
    padding:40px;
    text-align: center;
}
.content h1{
    font-family: 'Times New Roman';
    font-size:60px;
    word-spacing: 4px;
    letter-spacing:2px;
    margin:20px;

    padding:10px;
    color:#fff;
}
.content h2{
    font-family: 'Times New Roman';
    font-size:40px;
    word-spacing: 1.5px;
    letter-spacing:0.5px;
    margin:20px;
    padding:10px;
    color:#fff;
}
.content span{
    color:#ffc93c;
}
.v{
    font-size: 30px;
}
.content .para
{
    font-family:'Times New Roman';
    font-size:20px;
    margin:30px;
    padding:20px;
    color:#fff;
}
.content small{
    font-family:'Times New Roman';
    font-size:20px;
    margin:30px;
    padding:10px;
    color:#fff;
}
.content small:hover{
    background:#ffc93c;
    color:#fff;
    font-size:24px;
    transition: 0.55s ease-in-out;
    border:1px solid #ffc93c;
    border-radius: 7px;
}
.foot{
    padding:20px;
    margin-right: 100%;
    
}
